section {
    width: fit-content;
    position: relative;
}
/* debut Exo 1 */

#exo1 > h1::after {
    content: "";

    background-color: red;
    width: 0;
    height: 5px;

    transition: 2s;

    display: flex;
}

#exo1 > h1:hover::after {
    width: 100%;
}

/* fin Exo 1 */

/* Exo 2 */
#exo2 > h1::after {
    content: "";
    background-color: red;
    width: 0;
    height: 5px;
    transition: 2s;
    display: block;
    margin: auto;
}

#exo2 > h1:hover::after {
    width: 100%;
}
/* fin Exo 2 */

/* Exo 3 */
#exo3 > h1::after {
    content: "";
    background-color: red;
    width: 100%;
    height: 0;
    transition: 2s;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#exo3 > h1:hover::after {
    height: 100%;
}
/* fin Exo 3 */